HOST="https://mimivoxai-backend.vercel.app"
ALLOWED_ORIGINS="https://www.mimivoxai.com, http://localhost:500"
INIT_ADMIN_EMAIL="admin@email.com"
INIT_ADMIN_PASSWORD="password"
INIT_ADMIN_FIRST_NAME="Admin"
INIT_ADMIN_LAST_NAME="One"
DATABASE_URL="postgresql://postgres:password@localhost:5432/mimivox"
JWT_USER_ACCESS_SECRET="bb9492053e584a9647ea7123043454ac460a6d9cfda39058113992d470b762dffa0484348d9740591f6846c74ad7e4bf79d126f1b70a279515c62b6994f21189"
JWT_USER_ACCESS_EXPIRATION="7d"
JWT_ADMIN_ACCESS_SECRET="ada193443f78adec6564e1907671ca82fa36f3e52789b262c2d353edfd711424be57e22c48cda7d1b92e6129088a5771f2c0be08dd2a8ead6602de5726eda6b5"
JWT_ADMIN_ACCESS_EXPIRATION="7d"
USER_FORGOT_PASSWORD_EXPIRATION="30m"
USER_FORGOT_PASSWORD_URL="https://www.mimivoxai.com/auth/user-setnew-password?token={{TOKEN}}"
USER_VERIFY_EMAIL_EXPIRATION="30m"
ADMIN_FORGOT_PASSWORD_EXPIRATION="30m"
ADMIN_FORGOT_PASSWORD_URL="https://admin.mimivoxai.com/auth/user-setnew-password?token={{TOKEN}}"
EMAIL_FROM="Mimivox <support@email.com>"
EMAIL_USERNAME="support@email.com"
EMAIL_PASS="..."
APP_NAME="Mimivox AI"
SUPPORT_EMAIL="help@mimivox.com"
DASHBOARD_LINK="https://www.mimivoxai.com/user/dashboard"

GOOGLE_API_KEY="..."
ELEVENLABS_API_KEY="..."
CLOUDINARY_API_SECRET="..."
CLOUDINARY_API_KEY="..."
CLOUDINARY_CLOUD_NAME="..."
SUNO_API_KEY="..."
SUNO_MUSIC_GENERATE_CALLBACK_URL="https://mimivoxai-backend.vercel.app/api/v1/user/musics/suno/generate/callback"
XAI_API_KEY="..."
RESEND_API_KEY="..."

CREDITS_PER_CHARACTER="1"
CREDITS_PER_CHARACTER_PREMIUM="2"
CREDITS_PER_VOICE_CLONE="2"
CREDITS_PER_IMAGE="250"
CREDITS_PER_MUSIC="1200"
CREDITS_PER_VIDEO_PER_SECOND="750"

PAYSTACK_API_BASE="https://api.paystack.co"
PAYSTACK_IGNORE_WEBHOOK_AUTH=true
PAYSTACK_SECRET_KEY="..."
SYNC_PAYSTACK_PRICINGS=true